@import "../../styles/libraries";

.moviedetail {
  font-weight: 600;
  color: black;
  .moviedetail__img{
    height: 300px;
    width: auto;
  }
  .moviedetail__info {
    justify-content: flex-start;
    padding-top: 20px;
  }
  .moviedetail__title {
    font-size: 1.5rem;
    margin: auto 0;
  }
  .moviedetail__subtitle {
    text-transform: uppercase;
  }
  .badge {
    padding: 8px;
  }
  .moviedetail__genre {
    font-size: $font-size-sm;
  }
  .moviedetail__button {
    margin: 20px 0;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px;
    &:hover {
      background-color: lightskyblue;
      text-decoration: none;
    }
  }
}
